$lightgray: #E8E8E8;
$white: #FAFAFA;
$darkblue: #3B5998;
$lightblue: #2196F3;
$business: #3E2673;
$entertainment: #FC9D1C;
$general: #D9A404;
$health: #A61F2B;
$science: #F2CB05; 
$sports: #2FC0C7;
$technology: #82B0D9;


